/* Parent Elements */
:root {
    --bg-color: #393939;
    --game-shadow: -10px 10px 20px #121212, 10px -10px 20px #2e2e2e;
    --board-shadow-inset: inset -5px 5px 8px #202022, inset 5px -5px 8px #4b4d4f;
    --button-shadow: -5px 5px 10px #2e2e30, 5px -5px 10px #3e4042;
    --button-shadow-inset: inset -5px 5px 10px #2e2e30, inset 5px -5px 10px #3e4042;
    --key-shadow: -5px 5px 10px #2e2e30, 5px -5px 10px #2e2e30;

    --game-radius: 20px;
    --board-radius: 10px;
    --block-size: 25px;
    --item-size: 75px;
    --game-width: 425px;
    --game-height: 740px;

    --button-size: 50px;
    --button-border-radius: 25px;
    --color-primary: #00ffee;
    --color-secondary: #ffa0c1;

    --mobile-item-size: 65px;
    --mobile-button-size: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    user-select: none;
}

.container {
    position: relative;
    background-image: url("./assets/background.jpg");
    background-size: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    color: var(--color-primary);
    position: relative;
    width: 100%;
    max-width: var(--game-width);
    height: 100%;
    max-height: var(--game-height);
    background-color: var(--bg-color);
    box-shadow: var(--game-shadow);
    border-radius: var(--game-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

/* Infomation Section */
.play .info-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.hold-item,
.next-item {
    box-shadow: var(--board-shadow-inset);
    border-radius: var(--game-radius);
    width: var(--item-size);
    height: var(--item-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hold-block,
#next-block {
    max-width: 80%;
    height: auto;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
}

.info-item #game-level {
    font-size: 20px;
}

/* Board Section */
.play .board-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    box-shadow: var(--board-shadow-inset);
    border-radius: var(--board-radius);
    padding: 10px;
}

.block {
    width: var(--block-size);
    height: var(--block-size);
    border: 0.1px solid var(--bg-color);
}

/* Setting Section */
.setting-section {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

.setting-section button {
    margin: 0 10px;
    color: var(--color-secondary);
}

/* Menu Section */
.menu-section { 
    margin: auto 0;
    position: relative;
    text-align: center;
    align-items: center;
}

.menu-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -8px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-status {
    font-size: 40px;
    margin-top: 10px;
}

.result {
    margin-bottom: 40px;
}

.result h2 {
    color: var(--color-secondary);
    margin-top: 20px;
    font-size: 30px;
}

.result p {
    margin-top: 5px;
    font-size: 30px;
}

/* Help Section */
.help-section {
    position: absolute;
    background: var(--bg-color);
    color: var(--color-primary);
    box-shadow: var(--game-shadow);
    border-radius: var(--game-radius);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    z-index: 1;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
}

.help-section.active {
    transform: translate(425px, 0);
}

.help-section td {
    padding: 15px;
}

.help-key {
    color: var(--color-secondary);
    width: calc(2*var(--button-size));
    height: var(--button-size);
    box-shadow: var(--key-shadow);
    border-radius: var(--button-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
button {
    -webkit-tap-highlight-color: transparent;
}

.btn {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary);
    width: var(--button-size);
    height: var(--button-size);
    box-shadow: var(--button-shadow);
    border-radius: var(--button-border-radius);
    border: none;
    outline: none;
    background-color: var(--bg-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active {
    box-shadow: var(--button-shadow-inset);
}

.play #btn-pause {
    display: block;
    font-size: 45px;
    padding-top: 3px;
}

.btn-wide {
    width: 200px;
    margin: 30px auto;
}

/* Control Buttons */
.arrow-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.other-control {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-control button {
    margin: 0 15px;
}

/* State */
.board-section,
.info-section,
.control-section,
.menu-status,
.result,
#btn-new-game,
#btn-pause {
    display: none;
}

.play .menu-section {
    display: none;
}

.pause .menu-status,
.pause #btn-play,
.pause #btn-new-game {
    display: block;
}

.game-over .menu-status,
.game-over .result,
.game-over #btn-new-game {
    display: block;
}

.game-over #btn-play {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 432px) {
    :root {
        --block-size: 16px;
    }

    .container {
        background-color: var(--bg-color);
        background-image: unset;
    }

    .game-wrapper {
        box-shadow: unset;
        border-radius: unset;
    }

    .play .setting-section {
        position: absolute;
        flex-direction: column;
        transform: translateY(-50%);
        top: 50%;
        bottom: unset;
        padding: unset;
        right: 2px;
        margin-top: -40px;
    }

    .setting-section button {
        margin-bottom: 10px;
    }

    .play .control-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 15px;
    }

    .help-section,
    #btn-help {
        display: none;
    }

    .hold-item,
    .next-item {
        width: var(--mobile-item-size);
        height: var(--mobile-item-size);
    }

    .btn {
        width: var(--mobile-button-size);
        height: var(--mobile-button-size);
    }

    .btn-wide {
        width: 200px;
    }
}