:root {
    --bg-color: #ecf0f3;
    --game-shadow: -10px 10px 20px #dbdfe2, 10px -10px 20px #fdffff;
    --board-shadow-inset: inset -5px 5px 8px #d4d8db, inset 5px -5px 8px #ffffff;
    --button-shadow: -5px 5px 10px #c4c7ca, 5px -5px 10px #ffffff;
    --button-shadow-inset: inset -5px 5px 10px #c4c7ca, inset 5px -5px 10px #ffffff;

    --game-radius: 20px;
    --board-radius: 10px;
    --block-size: 25px;
    --item-size: 75px;
    --game-width: 425px;
    --game-height: 740px;

    --button-size: 50px;
    --button-border-radius: 25px;
    --setting-button-color: skyblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Krona One', sans-serif;
    height: 100vh;
    background-color: var(--bg-color);
    overflow:hidden;
    user-select: none;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    position: relative;
    width: 100%;
    max-width: var(--game-width);
    height: 100%;
    max-height: var(--game-height);
    background-color: var(--bg-color);
    box-shadow: var(--game-shadow);
    border-radius: var(--game-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.held-item,
.next-item {
    box-shadow: var(--board-shadow-inset);
    border-radius: var(--game-radius);
    width: var(--item-size);
    height: var(--item-size);
    display:flex;
    align-items: center;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
}

.info-item #level {
    font-size: 20px;
}

.board-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    box-shadow: var(--board-shadow-inset);
    border-radius: var(--board-radius);
    padding: 10px;
}

.block {
    width: var(--block-size);
    height: var(--block-size);
    border: 0.1px solid var(--bg-color);
}

.setting-section {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

.setting-section button {
    margin: 0 10px;
    color: var(--setting-button-color);
}

.btn {
    font-size: 30px;
    width: var(--button-size);
    height: var(--button-size);
    box-shadow: var(--button-shadow);
    border-radius: var(--button-border-radius);
    border: none;
    outline: none;
    background-color: var(--bg-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-pause {
    font-size: 45px;
}

.btn:active {
    box-shadow: var(--button-shadow-inset);
}

.control-section {
    display: none;
}

.control-section button {
    color: green;
}

.arrow-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.other-control {
    display: flex;
    justify-content: space-between;
}

.other-control button {
    margin: 0 15px;
}

.control-section {
    display: none;
}

.menu-section { 
    margin: auto 0;
    position: relative;
    text-align: center;
    align-items: center;
}

.menu-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -8px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-title span:nth-child(1) {
    color: red;
}

.menu-title span:nth-child(2) {
    color: blue;
}

.menu-title span:nth-child(3) {
    color: green;
}

.menu-title span:nth-child(4) {
    color: yellow;
}

.menu-title span:nth-child(5) {
    color: purple;
}

.menu-title span:nth-child(6) {
    color: pink;
}

.menu-status {
    font-size: 40px;
    margin-top: 10px;
}

.result {
    margin-bottom: 40px;
}

.result h2 {
    color: skyblue;
    margin-top: 20px;
    font-size: 30px;
}

.result p {
    margin-top: 5px;
    font-size: 30px;
}

.btn-width {
    width: 200px;
    margin: 30px auto;
}

/* State */
.board-section,
.info-section,
.control-section,
.menu-status,
.result,
#btn-new-game,
#btn-pause {
    display: none;
}

.play .board-section {
    display: grid;
}

.play .info-section {
    display: flex;
}

.play #btn-pause {
    display: block;
}

.play .menu-section {
    display: none;
}

.pause .gamestatus,
.pause #btn-play,
.pause #btn-new-game {
    display: block;
}

.game-over .game-status,
.game-over .result,
.game-over #btn-new-game {
    display: block;
}

.game-over #btn-play {
    display: none;
}

@media only screen and (max-width: 425px) {
    :root {
        --block-size: 20px;
    }

    .game-wrapper {
        box-shadow: unset;
        border-radius: unset;
    }

    .setting-section {
        position: absolute;
        flex-direction: column;
        transform: translateY(-50%);
        top: 50%;
        bottom: unset;
        padding: unset;
        right: 2px;
        margin-top: -40px;
    }

    .setting-section button {
        margin-bottom: 10px;
    }

    .control-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}