:root {
    --bg-color: #ecf0f3;
    --game-shadow: -10px 10px 20px #dbdfe2, 10px -10px 20px #fdffff;
    --board-shadow-inset: inset -5px 5px 8px #d4d8db, inset 5px -5px 8px #ffffff;
    --button-shadow: -5px 5px 10px #c4c7ca, 5px -5px 10px #ffffff;
    --button-shadow-inset: inset -5px 5px 10px #c4c7ca, inset 5px -5px 10px #ffffff;

    --border-radius: 20px;
    --block-size: 25px;
    --game-width: 414px;
    --game-height: 736px;

    --button-size: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Krona One', sans-serif;
    height: 100vh;
    background-color: white;
    overflow:hidden;
}

.container {
    position: relative;
    background-color: var(--bg-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    position: relative;
    width: 100%;
    max-width: var(--game-width);
    height: 100%;
    max-height: var(--game-height);
    background-color: var(--bg-color);
    box-shadow: var(--game-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.held-item,
.next-item {
    box-shadow: var(--board-shadow-inset);
    border-radius: var(--border-radius);
    width: 75px;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info-item {
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score {
    font-weight: 600;
    font-size: 25px;
}

.board-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    box-shadow: var(--board-shadow-inset);
    border-radius: 10px;
    padding: 10px;
}

.block {
    width: var(--block-size);
    height: var(--block-size);
    background: red;
    border: 0.1px solid var(--bg-color);
}

.setting-section {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.setting-section button {
    margin: 0 10px;
}
.btn {
    width: var(--button-size);
    height: var(--button-size);
    box-shadow: var(--button-shadow);
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:active {
    box-shadow: var(--button-shadow-inset);
}